### Hide Log Files
/Logs/*
/Reports/*
### Hide Build and Install Files
/build/*
/Installer/*
### Hide excel files and zip files
*.csv
*xlsx
*.zip
### Hide development settings
.vscode/*
**/__pycache__